



.container {
  margin-top: 3%;
  
}

.box {
  background-color: #EBF5DF; 
  min-height: 500px;
}



h1.vis {
text-align: center;
}

h3 {
  text-align: center;
}



h4.team {
text-align: center;
color: black;    
}


h5.landing {
  text-align: center;
  color: white;    
}

h6.landing {
  text-align: center;
  color: white;

}

h6.team {
text-align: center;
color: black;
}





IMG.panel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%; 
  padding-top: 2%;
  width: 150px;
  height: 150px;
  z-index: 2;
  

}



IMG.team {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;



}





.brian {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/team-brian-150.png");


}

.brian:hover {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/emoticon-soso-150.png");


}

.jay {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/team-jay-150.png");


}

.jay:hover {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/emoticon-angel-150.png");


}

.kate {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/team-kate-150.png");


}

.kate:hover {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/emoticon-good-150.png");


}

.meet {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/team-meet-150.png");


}

.meet:hover {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/emoticon-fun-150.png");


}

.saleha {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/team-saleha-150.png");


}

.saleha:hover {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;
width: 150px;
height: 150px;
z-index: 2;
background: url("../images/emoticon-wow-150.png");


}





img.arrow{
width:40px;
height:30px;
margin-left: 2%;
}



body.background {
  
  background-color: #ffd943;
  /* background-color: #eee455; */
  /* background-color: #fff570; */
  max-width: 100%;
  height: auto;
  z-index: -1;
  
}


body.landing {
  
background-color: #ffd943;
/* background-color: #eee455; */
/* background-color: #fff570; */
background-image: url("../images/landingbackground3.jpg");
max-width: 100%;
height: auto;
z-index: -1;

}

p.copyright {
  color: grey;
  text-align: center;
  vertical-align: baseline;
  margin-top: 10%;
  
}

/* ------Slider Styles------- */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
/* background: #d3d3d3; */
background: #ffffffec;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #5cd1ff;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #5cd1ff;
cursor: pointer;
}


/* ------Emoji Styles------- */

img.emoji {
height: 50px;
width: 50px;
margin-right: 2%;

}

/* ------Landing Page Icons/Text------- */
img.landing {
height: 100px;
width: 100px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%; 
padding-top: 2%;

}

IMG.landing:hover {
transform: scale(1.2);
  
}

h4.landing {
text-align: center;
color: rgba(29, 28, 28, 0.719);    
}

h4.landing:hover{
color: rgb(80, 80, 80);
}

.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}