<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--CSS Link-->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <!--D3-->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <title>Couch Vibes</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/images/tv-16.png" />
</head>



<body class="background">

    <!----- Navbar ------->

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Couch Vibes
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">

                            </a>
                        </li>
                        <a class="nav-link" href="followers.html">For Creators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="network.html">For Audience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="vis.html">Visuallizations</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="team.html">Team</a>
                        </li>
                </div>
                </li>
                </ul>
            </div>
    </div>
    </nav>
    </div>


    <!-- Jumbotron Banner -->

    <div class="jumbotron jumbotron-fluid"
        style="background-color: #14abe7; color: white; padding-top: 1px; padding-bottom: 2px; text-align: center;">
        <div class="container">
            <h1 class="display-4"><img src="../static/images/logo.png" alt="logo" width="70"> Couch Vibes</h1>
            <p class="lead" style="text-align: center;">Suggest a network</p>
        </div>
    </div>


    <div class="container-fluid">


        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">

                <div class="jumbotron jumbotron-fluid"
                    style="color: black; margin-top: 13%; margin-left: 10%; margin-bottom: 11%; text-align: left;">
                    <div class="container">
                        <h1 class="display-4">What are you in the mood for?</h1>
                        <h4>Select mood values from sliders <img class="arrow" src="../static/images/arrow.png"
                                alt="right arrow"></h4>
                    </div>

                </div>


                <div class="container">
                    <h3 id="network"></h3>

                </div>

                <div class="container">
                    <!-- dropdown goes here -->
                    <p style="text-align: center;"><strong>Runtime: </strong>%Dropdown Menu Here%</p>
                </div>

            </div>
            <!--end column-->

            <div class="col-12 col-md-12 col-lg-6">

                <!-- <form id="myForm"> -->

                <div class="container" style="margin-right: 4%;">

                    <div class="row" style="margin-top: 7%;">
                        <!-- start slider table row 1-->

                        <div class="col-lg-1">
                            <!-- start emoji column-->
                            <img class="emoji" src="../static/images/emoticon-good-256.png" alt="Good">
                        </div>

                        <div class="col-lg-11">
                            <!-- start slider column-->
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myGoodRange">
                                <p>Good: <span id="outputGood"></span></p>
                            </div>
                        </div>

                    </div>
                    <!--end row 1-->


                    <div class="row">
                        <!-- start row 2-->

                        <div class="col-lg-1">
                            <!-- start emoji column-->
                            <img class="emoji" src="../static/images/emoticon-fun-256.png" alt="Fun">
                        </div>

                        <div class="col-lg-11">
                            <!-- start slider column-->
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myFunRange">
                                <p>Fun: <span id="outputFun"></span></p>
                            </div>
                        </div>

                    </div>
                    <!--end row 2-->



                    <div class="row">
                        <!-- start row 3-->

                        <div class="col-lg-1">
                            <!-- start emoji column-->
                            <img class="emoji" src="../static/images/emoticon-wow-256.png" alt="Wow">
                        </div>

                        <div class="col-lg-11">
                            <!-- start slider column-->
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myWowRange">
                                <p>Wow: <span id="outputWow"></span></p>
                            </div>
                        </div>

                    </div>
                    <!--end row 3-->



                    <div class="row">
                        <!-- start row 4-->

                        <div class="col-lg-1">
                            <!-- start emoji column-->
                            <img class="emoji" src="../static/images/emoticon-sad-256.png" alt="Sad">
                        </div>

                        <div class="col-lg-11">
                            <!-- start slider column-->
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="mySadRange">
                                <p>Sad: <span id="outputSad"></span></p>
                            </div>
                        </div>

                    </div>
                    <!--end row 4-->


                    <div class="row">
                        <!-- start row 5-->

                        <div class="col-lg-1">
                            <!-- start emoji column-->
                            <img class="emoji" src="../static/images/emoticon-soso-256.png" alt="Soso">
                        </div>

                        <div class="col-lg-11">
                            <!-- start slider column-->
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="mySosoRange">
                                <p>So-So: <span id="outputSoso"></span></p>
                            </div>
                        </div>

                    </div>
                    <!--end row 5-->



                    <div class="row">
                        <!-- start row 6-->

                        <div class="col-lg-1">
                            <!-- start emoji column-->
                            <img class="emoji" src="../static/images/emoticon-Bad-256.png" alt="Bad">
                        </div>

                        <div class="col-lg-11">
                            <!-- start slider column-->
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myBadRange">
                                <p>Bad: <span id="outputBad"></span></p>
                            </div>
                        </div>

                    </div>
                    <!--end row 6  end table-->





                    <div class="row">
                        <!-- start row 7-->

                        <div class="col-lg-1">
                            <!-- leave this column empty-->
                        </div>

                        <div class="col-lg-11">
                            <!-- start slider column-->
                            <button id="testbutton">My Test Button</button>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" style="background-color: #14abe7; margin-top: 3%;"
                                            id="submitbtn" onclick="show_success()" value="Suggest Network">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="d-flex justify-content-center">
                                        <input style="background-color: #14abe7; margin-top: 3%;" type="reset"
                                            id="resetbtn" onclick="clearForm()" value="  Reset Values  ">
                                    </div>
                                </div>
                            </div>
                            <!--end button row-->



                        </div>

                    </div>
                    <!--end row 7  end table-->




                </div>
                <!--end emoji slider container-->

                <!-- </form> -->
                <!--end form-->




            </div>
            <!--end container fluid-->


            <!-- Copyright Information -->
            <a style="text-decoration: none;" href="https://github.com/meetk5/Team-Project4">
                <p class="copyright">© 2021 Couch Vibes</p>
            </a>


            <!-- JavaScript: Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                crossorigin="anonymous"></script>



            <!--Other Scripts-->
            <!-- <script src="../static/js/network_predictor.js"></script> -->
            <script src="../static/js/show_success.js"></script>
            <!-- <script src="../static/js/network_predictor.js"></script> -->
</body>