<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <!--CSS Link-->
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <title>Couch Vibes</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/images/tv-16.png"/>
  </head>

  <!-- Jumbotron Banner -->
  <body class="background">
    <div class="jumbotron jumbotron-fluid" style="background-color: #8995e4; color: white; padding-top: 1px; padding-bottom: 2px; text-align: center;">
      <div class="container">
        <h1 class="display-4"><img src="../static/images/logo.png" alt="logo" width="70" > Couch Vibes</h1>
        <p class="lead" style="text-align: center;">What is your mood?</p>
      </div>
    </div>


    <div class="container-fluid">


      <div class= "row">

        <div class="col-12 col-md-12 col-lg-6">

          <div class="jumbotron jumbotron-fluid" style="color: white; margin-top: 17%; margin-left: 10%; margin-bottom: 11%; text-align: left;">
            <div class="container">
              <h1 class="display-4">What are you in the mood for?</h1>
              <h4>Select emotion range from sliders →</h4>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-12 col-lg-6">

          
          
          <!-- Add sliders here-->

          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myGoodRange">
            <p>Value: <span id="outputGood"></span></p>
          </div>

          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myFunRange">
            <p>Value: <span id="outputFun"></span></p>
          </div>

          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myWowRange">
            <p>Value: <span id="outputWow"></span></p>
          </div>

          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="mySadRange">
            <p>Value: <span id="outputSad"></span></p>
          </div>

          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="mySosoRange">
            <p>Value: <span id="outputSoso"></span></p>
          </div>


          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myBadRange">
            <p>Value: <span id="outputBad"></span></p>
          </div>








        </div>   <!--end slider column-->


      
    
    </div>   <!--end container-->

    
    <!-- Copyright Information -->
    <a style="text-decoration: none;" href="https://github.com/meetk5/Team-Project4"><p class="copyright">© 2021 Couch Vibes</p></a>
             
               
    <!-- JavaScript: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!--Other Scripts-->
    <script src="../static/js/slidervalues.js"></script>
  </body>
</html>
