<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <!--CSS Link-->
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <title>Team</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/images/tv-16.png"/>
  </head>


  <body class="background">

    <!----- Navbar ------->

    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Couch Vibes
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/followers">For Creators</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/network">For Audience</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/vis">Visualizations</a>
                </li>   
                  

                    <li class="nav-item">
                      <a class="nav-link active" href="/team">Team</a>
                    </li>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </div>







    <div class="container">


      <div class= "row">
        <div class="col-12 col-md-12 col-lg-12">

          <h1>Our Team</h1>
          <hr>

        </div> <!--end column-->
      </div> <!--end row-->



        <div class= "row">

        <div class="col-6 col-md-4 col-lg-4">

          <!--Photo goes here-->
          <div class="brian"></div>
          <h4 class="team">Brian Johnson</h4>
          <h6 class="team">Developer</h6>

        </div> <!--end column-->

        <div class="col-6 col-md-4 col-lg-4">

          <!--Photo goes here-->
          <div class="jay"></div>
          <h4 class="team">Jay Dhruv</h4>
          <h6 class="team">Developer</h6>

        </div> <!--end column-->

 
        <div class="col-6 col-md-4 col-lg-4">

          <!--Photo goes here-->
          <div class="kate"></div>
          <h4 class="team">Kate Yayla</h4>
          <h6 class="team">Developer</h6>

        </div> <!--end column-->       
        
      </div> <!--end row-->

      <div class= "row" style="margin-top: 2%;">
        <div class="col-6 col-md-6 col-lg-6">

          <!--Photo goes here-->
          <div class="meet"></div>
          <h4 class="team">Meet Kamal Kaur</h4>
          <h6 class="team">Developer</h6>

        </div> <!--end column-->    

        <div class="col-6 col-md-6 col-lg-6">

          <!--Photo goes here-->
          <div class="saleha"></div>
          <h4 class="team">Saleha Ahmed</h4>
          <h6 class="team">Developer</h6>

        </div> <!--end column-->          


      </div> <!--end row-->
        
      
    
    </div>   <!--end container-->

    
    <!-- Copyright Information -->
    <a style="text-decoration: none; max-height: 10px;" href="https://github.com/meetk5/Team-Project4"><p class="copyright">© 2021 Couch Vibes</p></a>
             
               
    <!-- JavaScript: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    


    <!--Other Scripts-->
    <script src="../static/js/slidervalues.js"></script>
  </body>
</html>